<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="info-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title" color="tertiary">H1D022087</ion-card-title>
        <ion-card-subtitle class="card-subtitle">Youvan Alfiz Farandi Putra Hermawan</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content class="card-content">
        Cita-cita: Punya Trueno AE86
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button id="infoButton" expand="full" shape="round" color="tertiary" routerLink="/">Balek</ion-button>
</ion-content>
